body {
    font-family: 'Tahoma', sans-serif;
    background: url('pngtree-female-employee-typing-on-a-laptop-at-a-desk-at-night-picture-image_2492319.png') no-repeat center center fixed;
    background-size: cover;
    animation: backgroundAnimation 30s infinite linear;
    margin: 0;
    padding: 0;
    position: relative;
}

@keyframes backgroundAnimation {
    0% {
        background-position: center;
    }
    100% {
        background-position: left top;
    }
}
